@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #757f9a;
  background: -webkit-linear-gradient(to bottom, #d7dde8, #757f9a);
  background: linear-gradient(to bottom, #d7dde8, #757f9a);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: #fff;
  width: 400px;
  overflow: hidden;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.476);
  border-radius: 3px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #d7dde8;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

header input:focus {
  outline: none;
}

header button {
  background-color: transparent;
  color: #aaa;
  border: none;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: rgba(233, 199, 255, 0.575);
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  position: relative;
  width: 75px;
  margin: 5px;
  cursor: pointer;
}

.fav-meals li .clear {
  background-color: transparent;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border: none;
  font-size: 1.2rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.fav-meals li:hover .clear {
  opacity: 0.5;
}

.fav-meals li img {
  border: 2px solid #ffffff;
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.476);
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
  transition: white-space 0.8s, overflow 0.8s;
}

.fav-meals li:hover span {
  white-space: normal;
  overflow: auto;
}

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.476);
    margin: 1.5rem;
    cursor: pointer;
    overflow: hidden;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: rgb(197, 188, 188);
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: crimson;
    transform: scale(0.94);
}

.popup-container {
  background-color: #4143476e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  max-width: 600px;
  max-height: 100vh;
  width: 100%;
}

.popup .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.meal-info h1 {
  text-align: center;
}

/* .meal-info img {
  max-width: 80%;
} */
